<ion-view>

  <ion-nav-buttons side="right">
    <p class="done-align">Done</p>

  </ion-nav-buttons>
  <div class="bar bar-subheader bar-color-grey"></div>
  <ion-content class="has-subheader bar-stable ">

    <ion-list>
    <ion-checkbox ng-model="filter.white">White / Caucasian</ion-checkbox>
    <ion-checkbox ng-model="filter.asian">Asian</ion-checkbox>
    <ion-checkbox ng-model="filter.southAsian">South Asian</ion-checkbox>
    <ion-checkbox ng-model="filter.hispanic">Hispanic / Latino</ion-checkbox>
    <ion-checkbox ng-model="filter.middle">Middle Eastern / Arab</ion-checkbox>
    <ion-checkbox ng-model="filter.black">Black / African-descent</ion-checkbox>
    <ion-checkbox ng-model="filter.native">Native American</ion-checkbox>
    <ion-checkbox ng-model="filter.other">Other</ion-checkbox>


    </ion-list>
  </ion-content>
</ion-view>
