.done-align
{
  color: #00D9C6;
  font-weight: 600;
  font-size: 115%;
}
.bar-color-grey
{
  background-color: #EFEFF4 !important;
}
.item-checkbox .checkbox {

  position: absolute;
  top: 50%;
  right: 8px;
  left: initial;
  z-index: 3;
  margin-top: -21px;
}
.item-checkbox {
  padding-left: 21px !important;
}

