.button-font-13 a
{
  font-size: 13px !important;
  border-color: #00D9C6 !important;
  background-color: #FAFAFA !important;
  color: #00D9C6 !important;
}
.font-adjustment{
  font-family: sans-serif;
  font-style: italic;
  color: #B1B0B0;
}
