.button-font-13 a
{
  font-size: 13px !important;
  border-color: #00D9C6 !important;
  background-color: #FAFAFA !important;
  color: #00D9C6 !important;
}
.height-adjustment{
  font-family: cursive;
  font-style: italic;
  color: #B1B0B0;
    margin-top: 6%;
    margin-left: 10%;

}
.heading-font
{

}
.age-adjustment{
  font-family: cursive;
  font-style: italic;
  color: #B1B0B0;
    margin-top: 6%;
    margin-left: 15%;
}
.distance-adjustment{
  font-family: cursive;
  font-style: italic;
  color: #B1B0B0;
    margin-top: 6%;
    margin-left: 5%;
}
.font-adjustment1{
  font-family: cursive;
  font-style: italic;
  color: #B1B0B0;
    margin-top: 13%;
    margin-left: 5%;
}
.font-adjustment2{
    font-family: cursive;
    font-style: italic;
    color: #B1B0B0;
    margin-top: 12%;
    margin-left: 2%;
}
.font-looking{
    font-family: cursive;
    font-style: italic;
    color: #B1B0B0;
    margin-top: 5%;


}
.placeholder-bgcolor
{
    background-color: #F5F5F5;
    border-color: #F5F5F5;
    color: #000000;
}
.button-align
{
    line-height: 0px !important;
    min-height: 24px !important;
    padding-top: 9px;
    padding-bottom: 27px;
}
