.button-font-13 button
{
  font-size: 13px !important;
  border-color: #00D9C6 !important;
  background-color: #FAFAFA !important;
  color: #00D9C6 !important;
  display: inline-block;
  height: 34px;
  min-height: 0px !important;
}
.button-font-13 > button:first-child
{
  background-color: #00D9C6 !important;
  color: white !important;
  border: none;
  display: inline-block;
  height: 34px;
  min-height: 0px !important;
}
.height-adjustment{
  font-family: -webkit-pictograph;
  font-style: italic;
  color: #B1B0B0;
  margin: auto;
}
.height-adjustment p{
  float: right;
  margin-right: 20%;
}
.padding-2
{
  padding: 2px 2px !important;
}
.age-adjustment{
  font-family: -webkit-pictograph;
  font-style: italic;
  color: #B1B0B0;
  margin: auto;
}
.age-adjustment p {
  float: right;
  margin-right: 20%;
}
.distance-adjustment{
  font-family: -webkit-pictograph;
  font-style: italic;
  color: #B1B0B0;
  margin: auto;
  padding-left: 7%;
}
.distance-adjustment p{
  float: right;
  margin-right: 20%;
}
.font-adjustment1{
  font-family: -webkit-pictograph;
  font-style: italic;
  color: #B1B0B0;
  margin: auto;

}
.font-adjustment1 p{
  float: right;
  margin: auto;
  padding-right: 20%;
}
.font-adjustment2{
  font-family: -webkit-pictograph;
  font-style: italic;
  color: #B1B0B0;
  margin: auto;

}
.font-adjustment2 p{
  float: right;
  margin: auto;
  padding-right: 20%;
}
.font-looking{
  font-family: -webkit-pictograph;
  font-style: italic;
  color: #B1B0B0;
  margin: auto;
}
.font-looking p{
  float: right;
  margin-right: 20%;
}
.placeholder-bgcolor
{
  background-color: #F5F5F5;
  border-color: #F5F5F5;
  color: #000000;
}
.button-align
{
  line-height: 0px !important;
  min-height: 24px !important;
  padding-top: 9px;
  padding-bottom: 27px;
}
.margin-top-5px{
  margin-top: -5px;
}
.margin-left-7px{
  margin-left: -7px !important;
}
.padding-left-13percent{
  padding-left: 15%;
}
.padding-left-7percent{
  padding-left: 10%;
}

.range input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding: 2px 4px !important;
}
.margin-right-left-3{
  margin-left: 3px !important;
  margin-right: 3px !important;
}
.margin-left-6percent{
  margin-left: -6px !important;
}
.margin-top-20px{
  margin-top: -20px !important;
}
.distance-range
{
  position: absolute;
  margin-top: -12px;
  margin-left: 20%;
}
